# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm configuration
.idea/

# VSCode config
.vscode/

# Ruff cache
.ruff_cache/

# notebooks
.DS_Store

# MLflow model logs
**/mlruns/**

# Model checkpoints
**/models/**

# Sequence and metadata
**/experiments/data/**

# Any callgraphs
**.svg

# My personal scratchpad & archive
x_*
archive

# logs from slurm launches & local runs
*_err.txt
*_out.txt
experiments/ritme_example_logs
experiments/ritme_refact_logs
experiments/ritme_test_nn
experiments/ritme_ma2_test
experiments/trials_mlflow
experiments/trials_wandb
experiments/ritme_example_usage_debug.ipynb
experiments/data_splits
experiments/data_splits_mlflow
experiments/data_splits_wandb
experiments/data_splits_ma2
experiments/best_models

# all but one json config file
*.json
!run_config.json
!run_config_whparams.json
!example_linreg.json
!example_linreg_py.json
!trials_mlflow.json

# GHA secrets
.secrets
